
<table class="table">
  <thead>
    <tr>
      <th scope="col"> ID </th>
      <th scope="col">File name</th>
      <th scope="col">Status</th>
      <th scope="col">Records</th>
      <th scope="col"> Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @contacts_files.each do |cf| %>
        <tr>
            <td> <%= cf.id %> </td>
            <td> <%= cf.name %> </td>
            <td> <%= cf.status %> </td>
            <td> <%= cf.imports %> </td>
            <td> <%= link_to "Show", contacts_file_path(cf), class: "btn btn-success" %> </td>
        </tr>
    <% end %>
  </tbody>

  <%= render 'form', contacts_file: @contacts_file %>
